{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'add-inventory-form.css' %}">
    <title>Add Inventory | HomifyInc</title>
</head>
<body>
    <form action="{% url 'main:show_add_inventory' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mainrec">
            <div class="maintitle">Add, Customize Your Item</div>
            <div class="subtext">You can add your collection along with its image, description, price, and variety.</div>
            <div class="context name">Product Name</div>
            <input class="shortinput productname" name="name" id="namein" placeholder="Enter your product name" required>
            <div class="context desc">Product Description</div>
            <textarea class="longinput productdesc" name="description" id="descin" placeholder="Enter your product description" required></textarea>
            <div class="context image">Product Image</div>
            <div class="imageframe">
                <input type="file" name="image" id="filein" style="display: none;" accept=".png, .jpg, .jpeg">
                <button class="imagebtn upload" id="upload" type="button">Upload</button>
                <button class="imagebtn delete" id="delete" type="button">Delete</button>
                <div class="images-container" id="imagesContainer"></div>
                <div class="subimageframe">
                    <div class="siftext">No uploaded image</div>
                </div>
                <div class="imagesubtext ist1">Number of image: 0 (up to 10)</div>
                <div class="imagesubtext ist2">*Maximum number of image is reached!</div>
            </div>
            <div class="context variation">Product Variation</div>
            <div class="variationframe" method="post" enctype="multipart/form-data">
                <button class="varbutton" type="button" id="variety">Add Variation</button>
                <input class="varinput" id="varvalue" placeholder="Write your variation...">
                <div class="varline"></div>
                <div class="vars-container"></div>
            </div>
            <button class="mainbutton save" id="save" type="submit">Save</button>
            <button class="mainbutton back" id="back" type="button">Back</button>
            <input type="hidden" name="countVar" id="cntVar" value="0">
            <input type="hidden" name="minPrice" id="minPrc" value="0">
        </div>
    </form>

    <script>
        let selectedImage = null;
        let countVar = 0;
        let minPrice = 0;

        const uploadButton = document.getElementById('upload');
        const deleteButton = document.getElementById('delete');
        const saveButton = document.getElementById('save');
        const backButton = document.getElementById('back');
        const imagesContainer = document.getElementById('imagesContainer');
        const fileIn = document.getElementById('filein');
        const imagePreview = document.getElementById('imagePreview');
        const inventoryForm = document.getElementById('inventoryForm');
        const variety = document.getElementById('variety');
        
        const varButton = document.querySelector('.varbutton');
        const sifText = document.querySelector('.siftext');
        const ist1 = document.querySelector('.ist1');
        const ist2 = document.querySelector('.ist2');
    
        function updateImageCount() {
            const imageCount = imagesContainer.children.length;
            ist1.textContent = `Number of image: ${imageCount} (up to 10)`;
        }

        function updateState() {
            if (imagesContainer.children.length >= 10) {
                uploadButton.disabled = true;
                ist2.style.display = 'block';
            } else {
                uploadButton.disabled = false;
                ist2.style.display = 'none';
            }
            updateImageCount();
        }

        function updateHiddenInputs() {
            document.getElementById('cntVar').value = countVar;
            document.getElementById('minPrc').value = minPrice;
        }

        function formatPrice(query) {
            const parts = query.split(':');
            const style = parts[0].trim();
            const price = parseInt(parts[1].trim(), 10);
            const formattedPrice = price.toLocaleString('en-ID');
            return `${style}: IDR${formattedPrice}`;
        }

        variety.addEventListener('click', (event) => {
            const varAmount = document.getElementById('varvalue').value.trim();
            if (varAmount) {
                curPrice = parseInt(varAmount.split(':')[1]);
                minPrice = countVar == 0 ? curPrice : Math.min(minPrice, curPrice);
                countVar++;
                updateHiddenInputs();
            }
        });
        
        document.addEventListener('click', function(event) {
            if (selectedImage && !selectedImage.contains(event.target) && !deleteButton.contains(event.target)) {
                selectedImage.style.borderColor = '#E3E3E3';
                selectedImage = null;

                deleteButton.disabled = true;
                deleteButton.style.cursor = 'auto';
                deleteButton.style.color = 'rgba(113, 113, 113, 0.4)';
                deleteButton.style.border = '2px solid rgba(255, 165, 0, 0.2)';
            }
        });

        uploadButton.addEventListener('click', function() {
            if (imagesContainer.children.length < 10) {
                fileIn.click();
                ist2.style.display = 'none';
            } else {
                ist2.style.display = 'block';
            }
        });

        deleteButton.addEventListener('click', function() {
            if (selectedImage) {
                imagesContainer.removeChild(selectedImage);
                selectedImage = null;

                deleteButton.disabled = true;
                deleteButton.style.cursor = 'auto';
                deleteButton.style.color = 'rgba(113, 113, 113, 0.4)';
                deleteButton.style.border = '2px solid rgba(255, 165, 0, 0.2)';
                
                if (imagesContainer.children.length === 0) {
                    const subimageframe = document.querySelector('.subimageframe');
                    subimageframe.style.display = 'block';
                }

                if (imagesContainer.children.length === 10) {
                    ist2.style.display = 'none';
                }
                
                updateState();
            }
        });
    
        fileIn.addEventListener('change', function(event) {
            const files = event.target.files;
            const subimageframe = document.querySelector('.subimageframe');
    
            if (files.length > 0) {
                subimageframe.style.display = 'none';
            } else {
                subimageframe.style.display = 'block';
            }
    
            Array.from(files).forEach(file => {
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const image = new Image();
                        image.onload = function() {
                            if (image.width >= 128 && image.height >= 128) {
                                if (imagesContainer.children.length < 10) {
                                    const imgElement = document.createElement('img');
                                    imgElement.src = e.target.result;
                                    imgElement.className = 'imagepreview';
                                    
                                    imgElement.addEventListener('click', function() {
                                        if (selectedImage) {
                                            selectedImage.style.borderColor = '#E3E3E3';
                                        }
                                        selectedImage = imgElement;
                                        imgElement.style.borderColor = 'rgba(255, 165, 0, 0.6)';
                                        deleteButton.disabled = false;
                                        deleteButton.style.cursor = 'pointer';
                                        deleteButton.style.border = '2px solid rgba(255, 165, 0, 1)';
                                        deleteButton.style.color = 'rgba(0, 0, 0, 1)';
                                    });

                                    imagesContainer.appendChild(imgElement);
                                    updateImageCount();
                                } else {
                                    ist2.style.display = 'block';
                                }
                            } else {
                                alert('Please upload an image with at least 128x128 pixels.');
                            }
                        };
                        image.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            });
        });

        updateState();

        varButton.addEventListener('click', function() {
            const varInput = document.querySelector('.varinput');
            const varValue = varInput.value.trim();

            if (varValue && varValue.length <= 50) {
                const varsContainer = document.querySelector('.vars-container');
                const varPreview = document.createElement('div');
                const vpText = document.createElement('div');
                const xSign1 = document.createElement('div');
                const xSign2 = document.createElement('div');
                const xFrame = document.createElement('div');

                varPreview.className = 'varpreview';
                vpText.className = 'vptext';
                vpText.textContent = formatPrice(varValue);
                xFrame.className = 'xframe';
                xSign1.className = 'xsign x1';
                xSign2.className = 'xsign x2';

                varPreview.appendChild(vpText);
                varPreview.appendChild(xFrame);
                varPreview.appendChild(xSign1);
                varPreview.appendChild(xSign2);
                varsContainer.appendChild(varPreview);

                xFrame.addEventListener('click', function() {
                    varPreview.remove();
                    countVar--;
                    updateHiddenInputs();
                });

                varInput.value = '';
            } else {
                alert('Please enter a valid variation text (max 50 characters).');
            }
        });

        saveButton.addEventListener('click', (event) => {
            let name = document.getElementById("namein").value;
            let description = document.getElementById('descin').value;

            if (!name || !description) {
                event.preventDefault();
                alert("Please complete all required fields.");
            } else {
                alert('New inventory has been added!');
                minPrice = Math.round(minPrice);
                updateHiddenInputs();
            }
        });

        backButton.addEventListener('click', (event) => {
            window.location.href = '{% url "main:show_main" %}';
        });
    </script>    
</body>
</html>