<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ini Judul Saya</title>

<section>
    <h1>Ini Judul Website Saya</h1>
    <h2>Ini Subjudul Website Saya</h2>
    <p>
        Nama Saya Nabil sedang berkuliah di FASILKOM UI.
        Asdos Saya namanya Kak Nando, btw kenapa kemarin dateng ke kuis MD1 kak WKWKWK
    </p>

    <h2>DATA NAMA DAN NPM MAHASISWA</h2>

    <table>
        <tr>
            <th>Nama</th>
            <th>NPM</th>
        </tr>
        <tr>
            <td>Nabil</td>
            <td>2306203324</td>
        </tr>
    </table>
</section>